*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --very-dark-grayish-blue: #48556aff;
    --desaturated-dark-blue: #6d7f97ff;
    --grayish-blue: #9eafc2ff;
    --light-grayish-blue: #ecf2f8ff;
}
body{
   font-family: Manrope, sans-serif;
   background-color: var(--light-grayish-blue); 
}
.container{
    display: flex;
    width: 100%;
    height: 400px;
    max-width: 900px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    background-color: white;
}
.image-section{
    width: 40%;
    overflow: hidden;
}
.image-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-section{
    width: 60%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}
.content-section h1{
    font-size: 24px;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
    line-height: 1.2;
}
.content-section p{
    font-size: 16px;
    color: var(--desaturated-dark-blue);
    line-height: 1.5;
    font-weight: 500;
}

.author-info{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    position: relative;
}
.author-info img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.author-details{
    display: flex;
    flex-direction: column;
}
.author-details .author-name{
    font-size: 16px;
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
}
.author-details .publish-date{
    font-size: 12px;
    color: var(--grayish-blue);
}
#share-icon{
    width: 35px;
    height: 35px;
    margin-left: auto;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: var(--light-grayish-blue);
}
#share{
    margin-left: auto;
    border: none;
    background: none;
}
#share-icon:hover{
    background-color: rgba(0, 0, 0, 0.194);
    filter: brightness(0.9);
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--grayish-blue);
    margin-top: 20px;
}
/* Panneau de partage */
.share-panel {
    position: absolute;
    right: 30px;
    bottom: 80px;  /* Ajuste selon ton design */
    background-color: var(--very-dark-grayish-blue);
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
}
.share-panel[hidden] {
  display: none;
}

/* Style des liens */
.share-panel a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.attribution a {
    color: var(--grayish-blue);
}

